<?xml version="1.0"?>
<ruleset name="Pediment Child Theme">
  <description>Coding standards for pediment-child-theme.</description>

  <file>functions.php</file>
  <file>src/blocks/</file>

  <exclude-pattern>build/*</exclude-pattern>
  <exclude-pattern>node_modules/*</exclude-pattern>
  <exclude-pattern>vendor/*</exclude-pattern>

  <arg name="extensions" value="php"/>
  <arg name="colors"/>
  <arg value="ps"/>

  <rule ref="WordPress">
    <exclude name="WordPress.Files.FileName"/>
    <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
    <exclude name="Squiz.Commenting.ClassComment.Missing"/>
    <exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
    <exclude name="Generic.Commenting.DocComment.MissingShort"/>
    <exclude name="Universal.Operators.DisallowShortTernary.Found"/>
    <exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames.defaultFound"/>
    <exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents"/>
    <exclude name="Generic.CodeAnalysis.UnusedFunctionParameter"/>
    <exclude name="WordPress.Security.EscapeOutput.OutputNotEscaped"/>
  </rule>

  <config name="testVersion" value="8.1-"/>
  <rule ref="PHPCompatibilityWP"/>
</ruleset>
